
services:

  db:
    image: postgres:14-alpine 
    container_name: desafio3_db
    restart: always 
    environment:
      POSTGRES_USER: user_app
      POSTGRES_PASSWORD: secret_password
      POSTGRES_DB: app_database
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network 

  web:
    build: . 
    container_name: desafio3_web
    restart: always
    ports:
      - "8080:5000" 
    environment:
      DB_HOST: db
      POSTGRES_USER: user_app
      POSTGRES_PASSWORD: secret_password
      POSTGRES_DB: app_database
    depends_on:
      db:
        condition: service_started
    networks:
      - app-network 
      
  cache:
    image: redis:latest
    container_name: desafio3_cache
    networks:
      - app-network
volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge